/* ---------------------------------------------------------- GENERAL */
        
        button
        {
            border: none;
            outline: none !important;
        }
        
        a
        {
            color: #000 !important;
        }
        
        a:hover
        {
            text-decoration: none !important;
        }
        
        ul
        {
            display: flex;
            list-style: none;
            margin: 0;
        }
        
        .flex-center
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .flex-column
        {
            flex-direction: column;
        }
    
        html
        {
            background: #fafafa;
            cursor: default;
        }


/* ---------------------------------------------------------- HEADER */    

        header
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 80px;
            z-index: 999;
        }
        
/* Logo */
        .logo
        {
            position: relative;
            z-index: 999;
            font-size: 1.3em;
            color: #fff;
            padding-bottom: .2em;
            font-weight: 600;
            cursor: pointer;
            text-shadow: 1px 1px 2px rgba(0,0,0,.8),
                        0 0 .3px rgba(0,0,0,1);
        }
        
        .logo i
        {
            margin-right: .5em;
            color: #000
        }

        .logo a
        {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
/* Mobile Logo */
        .mobile-navbar .logo
        {
            position: absolute;
            top: 1em;
            left: 1.5em;
        }
        
/* Navigation */
        .menu-btn
        {
            position: absolute;
            right: 1.5em;
            top: .7em;
            font-size: 1.3em;
            cursor: pointer;
        }
        
        .navbar
        {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0 3%;
            justify-content: space-between;
            align-items: flex-end;
        }
        
        .navbar div ul li
        {
            margin-left: 2em;
            cursor: pointer;
        }
        
        .navbar div ul li a
        {
            color: #000;
            font-weight: 500;
            text-shadow: 1px 1px 3px rgba(0,0,0,.2);
        }
        
        .navbar .fa-align-left
        {
            font-size: 1.5em;
            transform: rotateX(180deg);
            margin-left: 1em;
        }
        
        
/*        Mobile Navigation */
        .mobile-navs
        {
            position: fixed;
            bottom: 0;
            right: 0;
            transform: translateX(100vw);
            height: 90vh;
            width: 100vw;
            background: #fafafa;
            transition: .2s ease-out;
            
            
/*
            background: rgba( 255, 255, 255, 0.30 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 15px );
            -webkit-backdrop-filter: blur( 8.5px );
*/
            
            
/*
            background: rgba( 255, 255, 255, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13.0px );
-webkit-backdrop-filter: blur( 13.0px );
*/
        }
        
/* Open Mobile Navbar */
        .mobile-navs.open
        {
            transform: translateX(0);
        }
        
/* Mobile Nav Links */
        .mobile-navs nav ul li
        {
            margin: 1em 0;
            padding: .3em;
        }
        
        .mobile-navs nav ul li a
        {
            margin: 1em 0;
            color: #000;
            font-size: 1.3em;
            font-weight: bolder;
            text-shadow: 1px 1px 5px rgba(0,0,0,.2);
        }
        
        .category,
        .navbar div ul li
        {
            font-size: 14px;
        }

        

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LANDING PAGE ~~~~~~~~~~~~~~~ */


/* ---------------------------------------------------------- MAIN CONTAINER LANDING PAGE */
        
        .main-cont
        {
            position: relative;
            width: 100vw;
            min-height: 100vh;
            background: #fafafa;
        }


        .main-cont-lp
        {
            width: 100vw;
            height: 100vh;
            overflow: hidden;
        }
        
/* ---------------------------------------------------------- CIRCLE & FOOD PNG */     
        
        .circle
        {
            position: absolute;
            top: 50%;
            transform: translate(-45%, -50%);
            height: 105vh;
            width: 60%;
            max-width: 118vw;
            border-radius: 50%;
            background: #E7B74A;
        }
        
        .food-shadow
        {
            position: absolute;
            top: 50%;
            right: -25%;
            transform: translateY(-50%);
            width: 70%;
            z-index: 2;
        }
        
        .circle:before,
        .food-shadow:before
        {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
        
        .food-shadow:before
        {
            box-shadow: 0 0 15px 10px rgba(0,0,0,.5);
            width: 83.8%;
            height: 83.8%;
            transform: translate(10%, 10%);
            z-index: -1;
        }
        
        
/* ---------------------------------------------------------- MAIN CONTENT LANDING PAGE */  
        
        .main-content
        {
            position: absolute;
            top: 0;
            right: 0;
            width: 50vw;
            height: 100vh;
        }
        
        .content h3
        {
            font-size: 1.5em;
        }
        
        /* Headline */
        .main-content .content h1
        {
            font-weight: bolder;
            font-size: 4.2em;
/*
            color: #000;
            color: #212332;
*/
            color: #3B4351;
            text-shadow: 2px 2px 3px rgba(0,0,0,.2);
        }
        
        .subheadline
        {
            letter-spacing: .5em;
            word-spacing: .5em;
            margin: .8em 0;
        }
        
        .content p
        {
            font-weight: 500;
            margin-bottom: 1.8em;
        }
        
        /* Content BUTTON */
        .content button
        {
            position: relative;
            padding: .5em 3.5em;
            border-radius: 25px;
            background: #E5B842;
            color: #fff;
            text-shadow: .5px .5px 5px rgba(0,0,0,.3);
            font-size: 1.1em;
            font-weight: 500;
            transition: .3s;
            box-shadow: 0px 2px 5px rgba(0,0,0,.2),
                        0 0 0 .5px rgba(0,0,0,.2);
        }
        
/* HOVER - Content Btn */
        .content button:hover
        {
            color: #000;
            background: #fff;
        }
        
/* LINK - Content Btn */
        .content button a
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        
/* LINK - To Profile */
        .to-profile
        {
            position: relative;
            margin-top: 1.5em;
            width: 100%;
            text-align: right;
        }
        
        
        .arrow-link
        {
            font-weight: bold;
            font-size: 1.1em;
            cursor: pointer;
            transform: translateY(2.5em);
        }
        
        
        
/* Social Media Icons */
        .social-icons
        {
            position: absolute;
            bottom: 80px;
            right: 10%;
        }
        
        .social-icons i
        {
            margin-left: 1.3em;
            font-size: 1.25em;
            text-shadow: 1px 1px 3px rgba(0,0,0,.2);
            transition: .2s;
        }
        
/* HOVER - Social Media Icons */
        .social-icons i:hover
        {
            transform: scale(1.05);
        }    
        
        
/* ---------------------------------------------------------- MEDIA QUERIES */
        
/* 1200px */
        @media only screen and (max-width: 1200px)
        {
            .content
            {
                font-size: .9em;
            }
        }
        

        @media only screen and (max-width: 1000px)
        {
            .content
            {
                font-size: .7em;
            }
        }
        
        
/* 950px */
        @media only screen and (max-width: 950px)
        {
            .navbar nav ul li
            {
                margin: 0 .5em;
            }
            
            .navbar nav ul li a
            {
                font-size: .9em;
            }
            
            .navbar nav ul li:last-child
            {
                margin-left: 0em;
            }
        }
        
        
/* min 769px */
        @media only screen and (min-width: 769px)
        {
            .only-visible-on-tablet
            {
                display: none;
            }
        }
        
                
/* Tablet */
        @media only screen and (max-width: 768px)
        {
            .not-visible-on-tablet
            {
                display: none;
            }
            
            header
            {
                padding-top: 1em;
            }
            
            .menu-btn
            {
                font-size: 2em;
                transform: rotateX(180deg);
            }
            
            .food-shadow
            {
                top: 75%;
                left: 55%;
                width: 90%;
            }
            
            .main-content .content h1
            {
                font-size: 3em;
            }
            
            .main-content .content h3
            {
                font-size: 1.3em;
                word-spacing: .3em;
            }
            
            .main-content .content
            {
                font-size: .8em;
                transform: translate(-15%, -25%)
            }
            
            .main-content .content p
            {
                font-size: small;
            }
            
            .arrow-link
            {
                transform: translateY(3em);
            }
        }
        
        
        /* Mobile */
        @media only screen and (max-width: 600px) 
        {
            header
            {
                background: #E7B74A;
                height: 60px;
                padding-top: 0;
            }
            
            .logo
            {
                font-size: 1em;
            }
            
            .main-content
            {
                width: 100%;
                transform: translateY(-3em);
            }
            
            .main-cont-lp .circle
            {
                top: 60%;
                left: 50%;
                transform: rotate(90deg) translateX(-50%);
            }
            
            .food-shadow
            {
                top: 75%;
                left: -35%;
                width: 80%;
            }
            
            .main-cont-lp .content
            {
                font-size: .75em;
                transform: translate(0);
            }
            
            .main-content .content h1
            {
                font-size: 3em;
            }
            
            .main-content .content h3
            {
                font-size: 1.1em;
                word-spacing: .3em;
            }
            
            .main-content .content p
            {
                font-size: small;
            }
            
            .social-icons
            {
                bottom: 0;
                font-size: .8em;
            }
            
            .social-icons i
            {
                margin-left: 1em;
            }
            
            .social-icons i:hover
            {
                color: #fff;
                transform: scale(1.3);
            }
        }
        
        
        /* Iphone 5se */
        @media only screen and (max-width: 350px)
        {
            .mobile-navbar .logo
            {
                top: 1em;
                left: 1em;
                font-size: 1em;
            }
            
            .content
            {
                transform: scale(.8);
            }
        }




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ALL RECIPES ~~~~~~~~~~~~~~~ */


/* ---------------------------------------------------------- MAIN CONTAINER ALL RECIPES */
        
        .main-cont-all-recipes
        {
            background: #fafafa;
        }
        
        
/* Top Image */
        .top-image img
        {
            width: 100%;
            height: 15em;
            object-fit: cover;
            margin-top: 90px;
        }
        
        
/* ---------------------------------------------------------- ALL RECIPES CONTAINER */
        
        .all-recipes-cont 
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: .5em;
            padding-bottom: 5em;
        }
        
        
        
/* ---------------------------------------------------------- RECIPE CARD */
        
        .card
        {
            border: none;
            background: #fafafa;
            font-size: .9em;
        }
        
        .card-body
        {
            padding: .5em .3em;
        }
        
/* Recipe Card Image (Top Part) */
        .card-img-top
        {
            border-radius: 10px
        }
     
        .card-title
        {
            font-size: 1.1rem;
            font-size: 1rem;
        }
        
        
/* Card Infos (Bottom Part) */
        .card-infos
        {
            justify-content: space-between;
        }
        
        .card-infos .card-rating img
        {
            width: 16px;
            margin-right: 3px;
        }
        
        .card-duration i
        {
            color: #348D9A;
            font-size: 16px;
            margin-right: 1px;
        }
        
        .card-difficulty
        {
            font-size: smaller;
            padding: .1em .5em;
            border-radius: 10px;
            border: solid 1px #348D9A;
        }
        
        
/* ---------------------------------------------------------- CATEGORIES / SEARCH / TAGS SECTION */
        
/* Headline for Categories & Tags */
        .filter-headline
        {
            position: relative;
            font-size: 1.5em;
            text-align: center;
            margin: 2em;
            z-index: 2;
            background: #fafafa;
        }
        
/* Headline Lines */
        .filter-headline:before
        {
            content: '';
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translateY(-50%);
            background: #000;
            width: 40%;
            height: 1px;
            z-index: -1;
        }
        
        .filter-headline:after
        {
            content: '';
            position: absolute;
            top: 50%;
            left: 0%;
            transform: translateY(-50%);
            background: #000;
            width: 40%;
            height: 1px;
            z-index: -1;
        }
        
        
/* ---------------------------------------------------------- CATEGORIES SECTION */
        .categories-cont
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: .5em;
            height: 5em;
            width: 90%;
            margin: .5em auto 2.5em auto;
        }
        
/* Category BUTTON */
        .categories-cont .category
        {
            background: #E7B74A;
            border-radius: 10px;
            box-shadow: 0 0 1px rgba(0,0,0,.2);
            cursor: pointer;
            font-weight: bold;
            letter-spacing: .05em;
            transition: .2s;
        }
        
/* HOVER - Category Btn */
        .categories-cont .category:hover
        {
            background: #fafafa;
            box-shadow: 0 0 0 2px #E7B74A;
        }
        
/* Category Icon */
        .category img
        {
            width: 34px;
            margin-right: 5px;
        }
        
        
/* ---------------------------------------------------------- SEARCH SECTION (Input) */
        .search-cont
        {
            width: 100%;
            height: 2.5em;
        }
        
        .search
        {
            position: relative;
            height: 100%;
            width: 25em;
            box-shadow: 0 0 0 1px #000;
            border-radius: 5px;
        }
        
/* Search Icon */
        .search img
        {
            position: absolute;
            height: 1.5em;
            width: 1.5em;
            left: 46%;
            left: 3%;
            top: 50%;
            z-index: 10;
            transform: translateY(-50%);
        }
        
        
/* ---------------------------------------------------------- CATEGORY SECTION */
        
/* Toggle Categories / Toggle Tags BUTTON */
        .toggle-categories-btn,
        .toggle-tags-btn
        {
            position: absolute;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            transition: .2s;
        }
        
        .toggle-categories-btn
        {
            bottom: -25%;
            right: 1.5%
        }
        
        .toggle-tags-btn
        {
            top: -25%;
            left: 1.5%
        }
        
/* HOVER - Toggle Cat/Tags Btn */
        .toggle-categories-btn:hover
        {
            color: #348D9A;
            transform: translate(-3%);
        }
        
        .toggle-tags-btn:hover
        {
            color: #348D9A;
            transform: translate(3%);
        }
             
        
/* ---------------------------------------------------------- TAGS SECTION */
        .categories-cont.hidden-categories-cont
        {
            margin-top: -1.8em;
        }
        
        /* Hidden Tags Container */
        .hidden-tags-cont
        {
            margin: 2.5em 0;
            width: 90%;
            margin: 2.5em auto -.5em auto;
            display: flex;
            flex-wrap: wrap;
        }
        
/* Tags BUTTONS */
        .tag
        {
            border: solid 1px #348D9A;
            margin: 5px 3px;
            padding: .5em .6em;
            border-radius: 25px;
            cursor: pointer;
            transition: .2s;
        }
        
/* HOVER - Tag Btns */
        .tag:hover
        {
            background: #348D9A;
            color: #fafafa;
        }
        
        
        /* ---------------------------------------------------------- MEDIA QUERIES */
        
        /* 1200px */
        @media only screen and (max-width: 1200px)
        {
            .all-recipes-cont
            {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
        
        
        /* 1000px */
        @media only screen and (max-width: 1000px)
        {
            .all-recipes-cont
            {
                grid-template-columns: 1fr 1fr;
            }
        }
        

        /* Tablet */
        @media only screen and (max-width: 768px)
        {
            .not-visible-on-tablet
            {
                display: none;
            }
            
            .filter-headline:before,
            .filter-headline:after
            {
                width: 35%;
            }
        }
        
        
        /* Mobile */
        @media only screen and (max-width: 600px)
        {
            .all-recipes-cont
            {
                grid-template-columns: 1fr;
            }
            
            .filter-headline:before,
            .filter-headline:after
            {
                width: 25%;
            }
            
            .category span
            {
                display: none;
            }
        }
        
        
        /* Iphone 5se */
        @media only screen and (max-width: 350px)
        {
            .all-recipes-cont
            {
                grid-template-columns: 1fr;
            }
        }
    



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLICKED RECIPE ~~~~~~~~~~~~~~~ */


/* ---------------------------------------------------------- MAIN CONTAINER CLICKED RECIPE */
        
        .main-cont-recipe
        {
            min-height: 100vh;
            width: 100vw;
            background: #fafafa;
            padding-top: 150px;
        }
        
        
/* ---------------------------------------------------------- IMAGE CONTAINER */ 
        
        .recipe-img-cont
        {
            width: 65%;
        }
        
        .recipe-img-cont img
        {
            object-fit: cover;
            border-radius: 25px;
            /* border-radius: 15px;*/
            /* !!! */
            box-shadow: 0 0 10px rgba(0,0,0,.3);
        }
        
        
 /* ---------------------------------------------------------- RECIPE TOP SECTION */      
        
        .recipe-top-section
        {
            align-items: flex-start;
            flex-wrap: wrap;
            position: relative;
        }
        
        .recipe-info-cont
        {
            width: 40%;
            width: 30%;
            width: 35%;
            height: 100%;
            padding-right: 5em;
        }
        
/* Recipe Name */
        .recipe-name
        {
            color: #000;
            font-size: 1.8em;
            font-weight: 600;
/*            font-weight: 700;*/
/*            color: #3B4351;*/
        }
        
/* Recipe Underline */
        .underline-recipe
        {
            height: 2px;
            width: 100%;
            background: rgba(0,0,0,.5);
            margin: 8% 0% 5% 0%;
/*            margin: 6% 0% 5% 0%;*/
        }
        
/* Username & Icon (below) */
        .recipe-username
        {
            font-weight: 500;
            color: #000;
            font-size: 1.1em;
            margin-bottom: 10%;
        }
        
        .recipe-username i
        {
            margin: 0 5px;
            font-size: 1.1em;
            color: #348D9A;
        }
        
        
/* Recipe info Container */
        .recipe-info-cont div.flex-center
        {
            position: relative;
            justify-content: space-between;
            font-size: 1.1em;
            margin: 5% 0;
        }
        
        
/* Difficulty */
        .recipe-info-cont div.flex-center span
        {
            position: absolute;
            right: 5em;
            font-size: .8em;
            font-weight: 600;
        }
        
/* Rating Number (how many ratings) */
        .rating-nr
        {
            font-size: smaller;
            font-weight: 600;
            margin-bottom: -5%;
        }
                
/* Recipe Difficulty */
        .recipe-info-cont div.flex-center .card-difficulty
        {
            font-size: smaller;
            padding: .1em .5em;
            border-radius: 10px;
            border: solid 2px #348D9A;
            font-weight: 600;
        }
        
        /* Rating Icons (png) */
        .recipe-info-cont div.flex-center .card-rating img
        {
            width: 25px;
            margin-right: 3px;
        }
        
        /* Rating Duration */
        .recipe-info-cont div.flex-center .card-duration
        {
            font-size: 1.1em;
            font-weight: bolder;
        }
        
        /* Recipe Duration Icon */
        .recipe-info-cont div.flex-center .card-duration i
        {
            margin: 0 5px;
            color: #348D9A;
            font-size: 16px;
            margin-right: 1px;
        }
        
/* Favorite BUTTON */
        .fav-recipe-btn
        {
            width: 3em;
            height: 3em;
            border-radius: 10px;
            cursor: pointer;
            transition: .2s;
        }
        
        /* Favorite Btn Icon */
        .fav-recipe-btn i
        {
            transition: .2s;
        }
        
/* HOVER - Favourite Btn */
        .fav-recipe-btn:hover
        {
            background: lightgray;
        }
        
/* HOVER - Favorite Btn */
        .fav-recipe-btn:hover i
        {
            transform: scale(1.35);
        }
        
/* Save Recipe BUTTON */
        .save-recipe-btn
        {
            margin-top: 1em !important;
            font-size: 1em;
            font-weight: 600;
            box-shadow: 0 0 0 2px rgba(0,0,0,.8);
            border-radius: 5px;
            padding: .8em;
            cursor: pointer;
            transition: .2s ease-in;
        }
        
/* HOVER - Save Recipe Btn */
        .save-recipe-btn:hover
        {
            color: #fafafa;
            background: #348D9A;
            box-shadow: 0 0 0 2px #000;
        }
        
/* To My Recipes Link */
        .link-my-recipes
        {
            font-weight: bolder;
            font-size: .8em;
            text-decoration: underline;
        }
           
        
/* ---------------------------------------------------------- RECIPE BOTTOM SECTION */
        
        .recipe-bottom-section
        {
            flex-wrap: wrap;
            margin: 3em 0;
            align-items: flex-start;
        }
        
/* Ingredients Container */
        .ingredients-cont
        {
            position: relative;
            align-items: flex-start;
            width: 35%;
            margin-bottom: 2.5em;
        }
        
/* For How Many Persons Container */
        .amount-persons-cont
        {
            position: relative;
            width: 80%;
            padding: .5em 1em;
            justify-content: space-between;
            border: 2px solid;
            border-radius: 5px;
            margin-bottom: 5%;
        }
        
/* Plus & Minus BUTTONS */
        .amount-persons-cont .plus-btn,
        .amount-persons-cont .minus-btn
        {
            cursor: pointer;
            border-radius: 5px;
            padding: .5em .8em;
            transition: .2s ease-in;
        }
        
/* HOVER - Plus & Minus Btn */
        .amount-persons-cont .plus-btn:hover,
        .amount-persons-cont .minus-btn:hover
        {
            background: lightgray;
        }
        
        .amount-persons-cont .amount
        {
            font-weight: 600;
            font-size: 1.1em;
        }
        
        
/* ---------------------------------------------------------- INSTRUCTIONS & INGREDIENT CONTAINER */
        
        .instructions-cont
        {
            width: 65%;
/*            background: #E7B74A;*/
/*            background: #348D9A;*/
        }
        
        .instructions-cont > div
        {
            margin-top: -.5em;
            padding: 1.5em;
            padding-top: 2em;
/*            border-radius: 15px;*/
            border-radius: 25px;
            border: solid 2px #348D9A;
        }
        
        
/* Instruction & Ingredient Headline */
        .instructions-cont h5,
        .ingredients-cont h5
        {
            font-size: 1.8em;
            font-weight: 600;
            margin-bottom: 1.5em;
        }
        
        /* Ingredients */
        .ingredient
        {
            font-weight: 600;
            margin: .8em;
            margin: .5em .8em;
        }
        
/* Ingredient Icons */
        .ingredient-icon
        {
            width: 25px;
            width: 30px;
            margin: 0 1em 0 .5em;
        }
    
        
        
        
/* ---------------------------------------------------------- MEDIA QUERIES */
        
/* 1000px - 1200px */
        @media only screen and (max-width: 1200px) and (min-width: 1000px)
        {
            .recipe-info-cont
            {
                padding-right: 3em;
                font-size: .9em;
            }
        }
        
        
        
/* 1000px */
        @media only screen and (max-width: 1000px)
        {
            .profile-headline
            {
                margin-bottom: 2.5em;
            }
            
            .recipe-info-cont,
            .recipe-img-cont,
            .ingredients-cont,
            .instructions-cont
            {
                width: 100%;
            }
            
            .recipe-top-section
            {
                justify-content: flex-start;
            }
            
            .recipe-info-cont
            {
                margin-top: 1.5em;
                order: 2;
                width: 100%;
                width: 90%;
            }
            
            .amount-persons-cont
            {
                width: 100%;
            }
            
            .ingredient
            {
                margin-left: 0;
                justify-content: flex-start !important;
            }
            
            .recipe-name
            {
                margin-bottom: -.5em;
            }
            
            .recipe-username
            {
                margin-bottom: 1.5em;
            }
            
            .rating-nr
            {
                margin-bottom: .5em;
            }
            
            .recipe-info-cont div.flex-center
            {
                margin: .6em 0;
            }
        }
        
        
        
/* Mobile */
        @media only screen and (max-width: 600px)
        {
            .main-cont-recipe
            {
                padding-top: 100px;
            }
            
            .profile-headline h2
            {
                font-size: 1.5em;
            }
            
            .profile-headline
            {
                margin-bottom: 1.5em;
            }
            
            .recipe-info-cont
            {
                font-size: .8em;
                width: 100%;
                padding: 0 .5em;
            }
            
            .recipe-name
            {
                font-size: 1.8em;
            }
            
            .recipe-info-cont div.flex-center
            {
                margin: .6em 0;
            }

            .instructions-cont h5, .ingredients-cont h5
            {
                font-size: 1.5em;
            }
            
            .recipe-info-cont div.flex-center .card-duration
            {
                font-weight: 600;
            }
            
            .recipe-info-cont div.flex-center .card-rating img
            {
                width: 23px;
            }
        }
        
        
/* Iphone 5se */
        @media only screen and (max-width: 350px)
        {
            .profile-headline h2
            {
                font-size: 1.3em;
            }
            
            .recipe-name
            {
                font-size: 1.5em;
            }
            
            .recipe-info-cont
            {
                font-size: .8em;
            }
            
            .recipe-info-cont div.flex-center .card-rating img
            {
                width: 20px;
            }
        }
        



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MY PROFILE ~~~~~~~~~~~~~~~ */


