<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <script src="https://kit.fontawesome.com/7443d15568.js" crossorigin="anonymous"></script>
    <title>Developers Nostalgia</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
<!-- Main Container All Recipes -->
<div class="main-cont-all-recipes">
    <header>
        <div class="navbar not-visible-on-tablet">
            <!-- Logo -->
            <div class="logo flex-center">
                <i class="fas fa-utensils"></i>
                RecipeShare
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Recipes</a>
                    </li>
                    <li>
                        <a href="#">myRecipes</a>
                    </li>
                    <li>
                        <a href="#">myProfile</a>
                    </li>
                    <li>
                        <a href="#">Add Recipe</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <i class="fas fa-align-left"></i>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Top Image -->
    <div class="top-image">
        <img src="pexels-karolina-grabowska-6659681.jpg" alt="">
    </div>
    <!-- Filter / Search / Tags Section -->
    <div class="filter-section">
        <!-- Filter Headline -->
        <div class="filter-headline">
            Categories
            <div onclick="toggleHiddenCat()" class="toggle-categories-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path
                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
                See All
            </div>
        </div>
        <div class="categories-cont">
            <div class="category flex-center">
                <img src="vegetable.png" alt="">
                <span>V-tarian</span>
            </div>
            <div class="category flex-center">
                <img src="salad.png" alt="">
                <span>Vegan</span>
            </div>
            <div class="category flex-center">
                <img src="steak.png" alt="">
                <span>Meat</span>
            </div>
            <div class="category flex-center">
                <img src="fish.png" alt="">
                <span>Fish</span>
            </div>
            <div class="category flex-center">
                <img src="pudding.png" alt="">
                <span>Dessert</span>
            </div>
            <div class="category flex-center">
                <img src="cupcake%20(2).png" alt="">
                <span>Baking</span>
            </div>
        </div>
        <div class="categories-cont hidden-categories-cont">
            <div class="category flex-center">
                <img src="cupcake%20(2).png" alt="">
                <span>Drinks</span>
            </div>
        </div>

        <!-- Search Section -->
        <div class="search-cont flex-center">
            <div class="search">
                <img src="loupe.png" alt="">
            </div>
        </div>

        <!-- Hidden Tags Container -->
        <div class="hidden-tags-cont">
            <div class="tag flex-center">Soup</div>
            <div class="tag flex-center">Smoothie</div>
            <div class="tag flex-center">Burger</div>
        </div>

        <!-- Filter Headline -->
        <div class="filter-headline">
            Search / Filter
            <div onclick="toggleHiddenTag()" class="toggle-tags-btn">
                See Tags
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-up" viewBox="0 0 16 16">
                    <path
                        d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659l4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
                </svg>

            </div>
        </div>
    </div>

    <div class="all-recipes-cont container">

        <!-- Recipe Card -->
        <div class="card">
            <!-- Recipe Card Image -->
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <!-- Recipe Name -->
                <h5 class="card-title">Mozarella Stics (like mama's)</h5>
                <div class="card-infos flex-center">
                    <!-- Recipe Rating -->
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef%20(3).png" alt="">
                    </div>
                    <!-- Recipe Duration -->
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <!-- Recipe Difficulty -->
                    <div class="card-difficulty flex-center;">
                        <div>easy</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Spaghetti Bolognese</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef%20(2).png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        39min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Hot Dogs in whatever with 2 different Sauces and stuff</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef%20(3).png" alt="">
                        <img src="chef%20(3).png" alt="">
                        <img src="chef%20(3).png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        150min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>hard</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Real American Pancakes to go and whatever</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef%20(3).png" alt="">
                        <img src="chef%20(3).png" alt="">
                        <img src="chef%20(3).png" alt="">
                        <img src="chef%20(3).png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="pexels-any-lane-5945747.jpg" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">Card title</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                        <img src="chef.png" alt="">
                    </div>
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        15min
                    </div>
                    <div class="card-difficulty flex-center;">
                        <div>medium</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
    
        const hiddenTags = document.querySelector(".hidden-tags-cont");
        const hiddenCategories = document.querySelector(".categories-cont.hidden-categories-cont");
        
        
        const toggleHiddenCat = () => {
            hiddenCategories.classList.toggle("hidden");
        }
        
        
        const toggleHiddenTag = () => {
            hiddenTags.classList.toggle("hidden");
        }
        
     
        // wide screen - width ca 80% of category cont -- maybe whole cont (lines etc)
        
    </script>
    
</body>
</html>