<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css"
        type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/7443d15568.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>RecipeShare</title>
</head>

<body>

    <!-- Main Container Landing Page -->
    <div class="main-cont">
        <!-- Header -->
        <header>
            <div class="navbar not-visible-on-tablet no-marking">
                <!-- Logo -->
                <div class="logo flex-center">
                    <a href="{{ url_for('index') }}"></a>
                    <i class="fas fa-utensils"></i>
                    RecipeShare
                </div>
                <!-- Nav Links -->
                <nav>
                    <ul>
                        <li>
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('recipes') }}">Recipes</a>
                        </li>

                        {% if session.user %}

                            {% if session.user|lower == "admin"|lower %}

                                <li>
                                    <a href="{{ url_for('categories') }}" style="color: #348D9A; text-shadow: none">Manage
                                        Categories</a>
                                </li>

                            {% else %}

                                <li>
                                    <a href="{{ url_for('profile', username=session['user']) }}">myProfile</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('my_recipes') }}">myRecipes</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
                                </li>

                            {% endif %}

                            <li>
                                <a href="{{ url_for('logout') }}">Logout</a>
                            </li>

                        {% else %}

                            <li>
                                <a href="{{ url_for('login') }}">Sign In</a>
                            </li>
                            <li>
                                <a href="{{ url_for('register') }}" class="sign-up-nav">Sign Up</a>
                            </li>

                        {% endif %}

                        <li>
                            <i class="fas fa-align-left"></i>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Mobile Navbar -->
            <div class="mobile-navbar only-visible-on-tablet">
                <div class="logo flex-center">
                    <i class="fas fa-utensils"></i>
                    RecipeShare
                </div>
                <!-- Mobile Nav Links -->
                <div class="mobile-navs flex-center">
                    <nav>
                        <ul class="flex-center flex-column not-visible">
                            <li>
                                <a href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li>
                                <a href="{{ url_for('recipes') }}">Recipes</a>
                            </li>

                            {% if session.user %}

                                {% if session.user == "admin" %}

                                    <li>
                                        <a href="{{ url_for('categories') }}" style="color: #fff; text-shadow: none">Manage
                                            Categories</a>
                                    </li>

                                {% else %}

                                <li>
                                    <a href="{{ url_for('profile', username=session['user']) }}">myProfile</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('my_recipes') }}">myRecipes</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('add_recipe') }}">Add Recipe</a>
                                </li>

                            {% endif %}

                            <li>
                                <a href="{{ url_for('logout') }}">
                                    <i class="fas fa-sign-out-alt" style="margin-right: 5px"></i>
                                    Logout</a>
                            </li>

                            {% else %}

                                <li>
                                    <a href="{{ url_for('login') }}">Sign In</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('register') }}" class="sign-up-nav on-mobile">Sign Up</a>
                                </li>

                            {% endif %}

                        </ul>
                    </nav>
                </div>
                <!-- Toggle Menu BUTTON -->
                <div class="menu-btn">
                    <i class="fas fa-align-left"></i>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>