 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css" type="text/css" />
    <script src="https://kit.fontawesome.com/7443d15568.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <title>Clicked Recipe</title>
 </head>
 <body>
     
     <div class="main-cont-recipe flex-center flex-column">
         <header>
             <div class="navbar not-visible-on-tablet">
                 <!-- Logo -->
                 <div class="logo flex-center">
                     <i class="fas fa-utensils"></i>
                     RecipeShare
                 </div>
                 <div>
                     <ul>
                         <li>
                             <a href="#">Home</a>
                         </li>
                         <li>
                             <a href="#">Recipes</a>
                         </li>
                         <li>
                             <a href="#">myRecipes</a>
                         </li>
                         <li>
                             <a href="#">myProfile</a>
                         </li>
                         <li>
                             <a href="#">Add Recipe</a>
                         </li>
                         <li>
                             <a href="#">About Us</a>
                         </li>
                         <li>
                             <i class="fas fa-align-left"></i>
                         </li>
                     </ul>
                 </div>
             </div>
         </header>
         <!-- Main Container -->
         <div class="recipe-cont container">
             <!-- Top Sectition -->
             <div class="recipe-top-section flex-center">
                 <div class="recipe-info-cont">
                     <!-- Recipe Name -->
                     <h2 class="recipe-name">Mega Hot Dogs with so much stuff on it and some other stuff</h2>
                     <div class="underline-recipe"></div>
                     <!-- Username -->
                     <div class="recipe-username"><i class="far fa-user"></i>RobertCook</div>
                     <div class="rating-nr">ratings: 489</div>
                     <!-- Recipe Rating Container -->
                     <div class="flex-center">
                         <div class="card-rating flex-center">
                             <img src="chef.png" alt="">
                             <img src="chef.png" alt="">
                             <img src="chef.png" alt="">
                             <img src="chef.png" alt="">
                             <img src="chef%20(3).png" alt="">
                         </div>
                         <!-- Favorite Recipe BUTTON -->
                         <button class="fav-recipe-btn">
                             <i class="far fa-heart"></i>
                         </button>
                     </div>
                     <!-- Recipe Duration & Difficulty -->
                     <div class="flex-center">
                         <div class="card-duration flex-center">
                             <i class="fas fa-clock"></i>
                             39min
                         </div>
                         <span>difficulty:</span>
                         <div class="card-difficulty flex-center">
                             <div>easy</div>
                         </div>
                     </div>
                     <!-- Save Recipe BUTTON -->
                     <div class="save-recipe-btn flex-center">
                         Save Recipe
                     </div>
                     <!-- Go To MyRecipes LINK -->
                     <a href="#" class="link-my-recipes"><i class="fas fa-chevron-left"></i>Go to myRecipes</a>
                 </div>
                 <!-- Recipe Image Container -->
                 <div class="recipe-img-cont">
                     <img src="pexels-any-lane-5945747.jpg" alt="">
                 </div>
             </div>

             <!-- Bottom Section -->
             <div class="recipe-bottom-section flex-center">
                 <!-- Ingredients Container -->
                 <div class="ingredients-cont flex-center flex-column">
                     <h5>Ingredients</h5>
                     <!-- Amount Of Persons BUTTON -->
                     <div class="amount-persons-cont flex-center">
                         <div class="minus-btn"><i class="fas fa-minus"></i></div>
                         <div class="amount">2 Persons</div>
                         <div class="plus-btn"><i class="fas fa-plus"></i></div>
                     </div>

                     <!-- Ingredient -->
                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>

                     </div>

                     <div class="ingredient flex-center">
                         <div class="ingredient-icon">
                             <img src="check.png" alt="">
                         </div>
                         <div class="amount">
                             5 g Brown Rice
                         </div>
                     </div>

                 </div>

                 <!-- Instructions Container -->
                 <div class="instructions-cont">
                     <h5>Preparation</h5>
                     <div>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsam itaque vitae tempora eos aut, officiis aspernatur adipisci eius, nostrum qui laboriosam, magni provident pariatur hic accusamus nemo nesciunt maiores.
                             <br><br>
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsam itaque vitae tempora eos aut, officiis aspernatur adipisci eius, nostrum qui laboriosam, magni provident pariatur hic accusamus nemo nesciunt
                             <br><br>
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsam itaque vitae tempora eos aut, officiis aspernatur adipisci eius, nostrum qui laboriosam, magni provident pariatur hic accusamus nemo nesciunt Lorem ipsum dolor sit amet, consectetur adipisicing.
                             <br><br>
                             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsam itaque vitae tempora eos aut, officiis aspernatur adipisci eius, nostrum qui laboriosam, magni provident pariatur hic accusamus nemo nesciuntLorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsam itaque vitae tempora eos aut, officiis aspernatur adipisci eius, nostrum qui laboriosam, magni provident pariatur hic accusamus nemo nesciunt
                             <br><br>
                             Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nobis?
                         </p>
                     </div>
                 </div>
             </div>
         </div>

     </div>
 </body>
 </html>