{% extends "base.html" %}
{% block content %}

<!-- Main Container -->
<div class="main-cont-recipe">
    <div class="recipe-cont container">
        <!-- Top Sectition -->
        <div class="recipe-top-section flex-center">
            <form method="POST" action="{{ url_for('save_recipe', recipe_id=recipe._id) }}" class="recipe-info-cont">
                <!-- Recipe Name -->
                <h2 class="recipe-name">{{ recipe["recipe_name"]|title }}</h2>
                <div class="underline-recipe"></div>
                <!-- Username -->
                <div class="recipe-username"><i class="far fa-user"></i>{{ recipe["created_by"]|capitalize }}</div>
                <div class="rating-nr">ratings: 489</div>
                <!-- Recipe Rating Container -->
                <div class="flex-center">
                    <div class="card-rating flex-center">

                        {% set rate = recipe['rating'] %}
                        {% set no_rate = 5 - recipe['rating'] %}

                        {% for rating in range(rate) %}
                            <img src="{{ url_for('static', filename='img/chef.png') }}" alt="chef hat icon">
                        {% endfor %}
                        {% for no_rating in range (no_rate) %}
                            <img src="{{ url_for('static', filename='img/chefgray.png') }}" alt="gray chef hat icon">
                        {% endfor %}

                    </div>
                    <!-- Favorite Recipe BUTTON -->
                    <button class="fav-recipe-btn">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
                <!-- Recipe Duration & Difficulty -->
                <div class="flex-center">
                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        {{ recipe["duration_h"] }}h 
                        {{ recipe["duration_min"] }}min
                    </div>
                    <span>difficulty:</span>
                    <div class="card-difficulty flex-center">
                        <div>{{ recipe["difficulty"] }}</div>
                    </div>
                </div>
                <!-- Save Recipe BUTTON -->
                {% if session.user %}

                    <div class="save-recipe-btn flex-center">
                        <button type="submit"></button>
                        {{ button_txt }}
                    </div>

                {% else %}

                    <div class="save-recipe-btn no-hover flex-center">
                        <button type="button"></button>
                        Save Recipe
                    </div>

                {% endif %}
                <!-- Go To MyRecipes LINK -->
                <a href="{{ url_for('my_recipes') }}" class="link-my-recipes"><i class="fas fa-chevron-left"></i>Go to myRecipes</a>
            </form>
            <!-- Recipe Image Container -->
            <div class="recipe-img-cont">
                <img src="{{ recipe.recipe_img }}" alt="recipe image">
            </div>
        </div>
        <!-- Bottom Section -->
        <div class="recipe-bottom-section flex-center">
            <!-- Ingredients Container -->
            <div class="ingredients-cont persons flex-center flex-column">
                <h5>Ingredients</h5>
                <!-- Amount Of Persons BUTTON -->
                <div class="amount-persons-cont flex-center">
                    <div onclick="changeAmountOfPersons(-1)" class="minus-btn"><i class="fas fa-minus"></i></div>
                    <div>
                        <span id="persons">{{ recipe.persons }}</span>
                        Persons
                    </div>
                    <div onclick="changeAmountOfPersons(1)" class="plus-btn"><i class="fas fa-plus"></i></div>
                </div>

                {% for ingredient in recipe["ingredients"] %}

                    <!-- Ingredient (unit upper, ingr. capitalized) -->
                    <div class="ingredient flex-center">
                        <div class="ingredient-icon">
                            <img src="{{ url_for('static', filename='img/check.png') }}" alt="Check Image">
                        </div>
                        <div class="amount">
                            <span class="amount-value">{{ ingredient["amount"] }}</span>
                            {{ ingredient["unit"] }}
                            {{ ingredient["ingredient"]|title }}
                        </div>
                    </div>

                {% endfor %}

            </div>

            <!-- Instructions Container -->
            <div class="instructions-cont">
                <h5>Preparation</h5>
                <div>
                    <ol>

                        {% for step in recipe["prep_steps"] %}

                            <li>
                                <p>
                                    {{ step["step"] }}
                                </p>
                            </li>

                        {% endfor %} 

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}