{% extends "base.html" %}
{% block content %}

<!-- Main Container Landing Page -->
    <div class="main-cont-lp">
        <!-- Half Cirlce -->
        <div class="circle">
            <!-- Shadow For Food Plate  -->
            <div class="food-shadow">
                <!-- Image - Fruit Plate -->
                <img src="{{ url_for('static', filename='img/darkfruitplate.png') }}" alt="dark plate of fruits">
            </div>
        </div>
        <!-- Main Content -->
        <div class="main-content flex-center">
            <div class="content">
                <h3>Wanna share with</h3>
                <!-- Headline -->
                <h1>Recipe Share <i class="fas fa-plus" style="font-size: .8em"></i></h1>
                <h3 class="subheadline">join our little family</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipis elit. <br>
                    sum dolor sit amet, consectetur adipisicing elit. <br>
                    amen is orem of psum nor dolor sit.
                </p>
                <!-- Link BUTTONS (To Recipes / Profile) -->
                <button>
                    <a href="{{ url_for('recipes') }}"></a>
                    See Recipes
                </button>

                {% if session.user %}

                    <div class="to-profile">
                        <a href="{{ url_for('profile', username=session['user']) }}" class="arrow-link">
                            profile <i class="fas fa-angle-right"></i>
                        </a>
                    </div>

                {% else %}

                    <div class="to-profile">
                        <a href="{{ url_for('login') }}" class="arrow-link">
                            sign in <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                    
                {% endif %}

            </div>
            <!-- Social Media Icons -->
            <div class="social-icons flex-center">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.pinterest.com" target="_blank">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}