{% extends "base.html" %}
{% block content %}

<!-- Main Container Landing Page -->
    <div class="main-cont-lp">
        <!-- Half Cirlce -->
        <div class="circle">
            <!-- Shadow For Food Plate  -->
            <div class="food-shadow">
                <!-- Image - Fruit Plate -->
                <img src="{{ url_for('static', filename='img/darkfruitplate.png') }}" alt="dark plate of fruits">
            </div>
        </div>
        <!-- Main Content -->
        <div class="main-content flex-center">
            <div class="content">
                <h3>Wanna share with</h3>
                <!-- Headline -->
                <h1>Recipe Share <i class="fas fa-plus" style="font-size: .8em"></i></h1>
                <h3 class="subheadline">join our little family</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipis elit. <br>
                    sum dolor sit amet, consectetur adipisicing elit. <br>
                    amen is orem of psum nor dolor sit.
                </p>
                <!-- Link BUTTONS (To Recipes / Profile) -->
                <button>
                    <a href="#"></a>
                    See Recipes
                </button>
                <div class="to-profile">
                    <div class="arrow-link">
                        profile <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <!-- Social Media Icons -->
            <div class="social-icons flex-center">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-pinterest-p"></i>
            </div>
        </div>
    </div>
    
    <!-- <script>
    
        const mobileMenuBtn = document.querySelector(".menu-btn");
        const mobileNavMenu = document.querySelector(".mobile-navs");
        
        mobileMenuBtn.addEventListener("click", () => mobileNavMenu.classList.toggle("open"));
        
    </script> -->

{% endblock %}