{% extends "base.html" %}
{% block content %}

<!-- Main Container - Profile -->
<div class="main-cont-profile flex-center flex-column">
    <!-- Profile Container -->
    <div class="profile-cont flex-center flex-column">
        <div class="profile-top-section flex-center flex-column">
            <!-- Profile Image -->
            <div class="profile-img">
                <img src="{{ url_for('static', filename='img/chef_profile.png') }}" alt="profile picture">
            </div>
            <!-- Username -->
            <div class="username">{{ user["username"].capitalize() }}</div>
        </div>
        <!-- Bottom Content Section Profile -->
        <div class="bottom-section flex-center flex-column">
            <!-- User Personals Container -->
            <div class="user-personal-cont">
                <div class="about-headline flex-center">
                    <div class="flex-center">
                        <i class="fas fa-user"></i>
                        <h5>Personals</h5>
                    </div>
                    <div class="line user"></div>
                </div>
                <!-- Name, DOB, Level -->
                <div class="personals-cont flex-center">
                    <p>{{ user["name"]|title }}</p>
                    <p>{{ user["dob"] }}</p>
                    <p>{{ user["level"]|capitalize }}</p>
                    <p><a href="{{ url_for('edit_profile',  user_id=user._id) }}">Edit Profile<i class="fas fa-pencil-alt"></i></a></p>
                </div>
            </div>
            <!-- About Me Container -->
            <div class="profile-content flex-center">
                <div class="about-cont">
                    <div class="about-headline about flex-center">
                        <div class="flex-center">
                            <i class="fas fa-user"></i>
                            <h5>About me</h5>
                        </div>
                        <div class="line about"></div>
                    </div>
                    <!-- About Me -->
                    <p>
                        {{ user["about"].capitalize() }}
                    </p>
                </div>
                <!-- User Data Container -->
                <div class="data-box">
                    <div class="about-headline info profile-data flex-center">
                        <div class="flex-center">
                            <i class="fas fa-info"></i>
                            <h5>User Info</h5>
                        </div>
                        <div class="line info"></div>
                    </div>
                    <!-- User Data -->
                    <div class="user-data-cont flex-center flex-column">
                        <div class="user-info">Users Recipes: <span> {{ user["own_recipes"] }} </span></div>
                        <div class="user-info">Saved Recipes: <span> {{ user["saved_recipes"]|length }} </span></div>
                        <div class="user-info">Member Since: <span id="member-since"></span></div>
                    </div>
                </div>
            </div>
            <!-- Profile Navigation BUTTONS Container -->
            <div class="profile-nav-cards-cont flex-center">
                <div class="profile-nav-card flex-center">
                    <a href="{{ url_for('my_recipes') }}"></a>
                    my Recipes
                </div>
                <div class="profile-nav-card flex-center">
                    <a href="{{ url_for('add_recipe') }}"></a>
                    create Recipe<i class="fas fa-plus"></i>
                </div>
                <div class="profile-nav-card flex-center">
                    <a href="#"></a>
                    saved Recipes
                </div>
            </div>

        </div>
    </div>
    <!-- Bottom Banner -->
    <div class="bottom">
        <div class="bottom-icons-cont flex-center">
            <img src="{{ url_for('static', filename='img/award.png') }}" alt="award icon">
            <img src="{{ url_for('static', filename='img/sketchbook.png') }}" alt="sketchbook icon">
            <img src="{{ url_for('static', filename='img/search.png') }}" alt="search icon">
            <img src="{{ url_for('static', filename='img/recipes.png') }}" alt="recipe book icon">
            <img src="{{ url_for('static', filename='img/book.png') }}" alt="book image">
        </div>
    </div>
</div>

{% endblock %}