{% extends "base.html" %}
{% block content %}

<!-- Main Container - All Recipes -->
<div class="main-cont-all-recipes">
    <!-- Top Image -->
    <div class="top-image">
        <img src="{{ url_for('static', filename='img/topimage.jpg') }}" alt="">
    </div>
    <!-- Filter (by Category) and Search Section -->
    <div class="filter-section container">
        <!-- Headline For Filter/Search Section-->
        <div class="filter-headline flex-center">
            <div class="headline-line"></div>
            <p>Categories</p>
            <div class="headline-line"></div>
            <!-- Toggle Hidden Categories BUTTON (Svg) -->
            <div onclick="toggleHiddenCat()" class="toggle-categories-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-down" viewBox="0 0 16 16">
                    <path
                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659l4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                </svg>
                <span>See Less</span>
            </div>
        </div>
        <!-- Categories Container -->
        <div class="categories-cont">

            {% for category in categories %}

            <div onclick="getCategoryName(event)" class="category flex-center" data-category="{{ category['category_name'] }}">
                <img src="{{ category['category_png'] }}" alt="{{ category['category_name'] }} image">
                <span>{{ category['category_name']|capitalize }}</span>
            </div>

            {% endfor %}

        </div>
        <!-- Search For Recipe Container -->
        <form method="POST" action="{{ url_for('search') }}" class="search-cont flex-center">
            <div class="search">
                <button type="submit" class="search-btn">
                    <img src="{{ url_for('static', filename='img/loupe.png') }}" alt="">
                </button>
                <input id="query" name="query" type="text" minlength="1" required>
                <label for="query" class="hidden"></label>
                <a id="remove-query-btn" href="{{ url_for('recipes') }}">
                    <i class="fas fa-times"></i>
                </a>
                
            </div>
        </form>
        <!-- Headline For Filter/Search Section-->
        <div class="filter-headline flex-center">
            <div class="headline-line"></div>
            <p>Search</p>
            <div class="headline-line"></div>
        </div>
    </div>
    <!-- All Recipes Container -->
    <div class="all-recipes-cont container">

        {% for recipe in recipes %}

        {% set rate = recipe['rating'] %}
        {% set no_rate = 5 - recipe['rating'] %}

        <div class="card recipe-card" data-category="{{ recipe['category'] }}">
            <img class="card-img-top" src="{{ url_for('static', filename='img/pexels-any-lane-5945747.jpg') }}" alt="Card image cap">
            <div class="card-body flex-column">
                <h5 class="card-title">{{ recipe['recipe_name']|title }}</h5>
                <div class="card-infos flex-center">
                    <div class="card-rating flex-center">
                        {% for rating in range(rate) %}
                            <img src="{{ url_for('static', filename='img/chef.png') }}" alt="">
                        {% endfor %}
                        {% for no_rating in range (no_rate) %}
                            <img src="{{ url_for('static', filename='img/chefgray.png') }}" alt="">
                        {% endfor %}
                    </div>

                    <div class="card-duration flex-center">
                        <i class="fas fa-clock"></i>
                        {{ recipe['duration_h'] }}h {{ recipe['duration_min'] }}min
                    </div>
                    <div class="card-difficulty flex-center">
                        <div>{{ recipe['difficulty'] }}</div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<!-- <script>

    const hiddenTags = document.querySelector(".hidden-tags-cont");
    const hiddenCategories = document.querySelector(".categories-cont.hidden-categories-cont");
    
    
    const toggleHiddenCat = () => {
        hiddenCategories.classList.toggle("hidden");
    }
    
    
    const toggleHiddenTag = () => {
        hiddenTags.classList.toggle("hidden");
    }
    
    
    // wide screen - width ca 80% of category cont -- maybe whole cont (lines etc)
    
</script> -->

{% endblock %}