{% extends "base.html" %}
{% block content %}

<div class="main-cont-all-recipes">
    <!-- Top Image -->
    <div class="top-image">
        <img src="{{ url_for('static', filename='img/beefsteaks.jpg') }}" alt="beefsteaks with veggies">
    </div>
    <div class="filter-section container">
        <!-- To myRecipes LINK -->
        <div class="to-saved-recipes-link">
           <a class="to-my-recipes" href="{{ url_for('my_recipes') }}">See myRecipes</a>
        </div>
        <!-- Headline For Filter/Search Section-->
        <div class="filter-headline flex-center">
            <div class="headline-line"></div>
            <p>Saved Recipes</p>
            <div class="headline-line"></div>
        </div>
    </div>

    <!-- All Recipes Container -->
    <div class="all-recipes-cont container">

        {% if saved_recipes|length > 0 %}

            {% for recipe in saved_recipes %}

                {% set rate = recipe['rating'] %}
                {% set no_rate = 5 - recipe['rating'] %}

                <div class="card recipe-card" data-category="{{ recipe['category'] }}">
                    <a href="{{ url_for('clicked_recipe', recipe_id=recipe._id) }}"></a>
                    <img class="card-img-top" src="{{ recipe['recipe_img'] }}" alt="Card image cap">
                    <div class="card-body flex-column">
                        <h5 class="card-title">{{ recipe['recipe_name']|title }}</h5>
                        <div class="card-infos flex-center">
                            <div class="card-rating flex-center">

                                {% for rating in range(rate) %}
                                    <img src="{{ url_for('static', filename='img/chef.png') }}" alt="chef hat icon">
                                {% endfor %}
                                {% for no_rating in range (no_rate) %}
                                    <img src="{{ url_for('static', filename='img/chefgray.png') }}" alt="gray chef hat icon">
                                {% endfor %}
                                
                            </div>

                            <div class="card-duration flex-center">
                                <i class="fas fa-clock"></i>
                                {{ recipe['duration_h'] }}h {{ recipe['duration_min'] }}min
                            </div>
                            <div class="card-difficulty flex-center">
                                <div>{{ recipe['difficulty'] }}</div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        
        {% else %}

            <h3 class="to-add-recipe">No Recipes Saved Yet<br>
                <a class="to-add-recipe-link" href="{{ url_for('recipes') }}">Discover Some Recipes</a>
            </h3>

        {% endif %}

    </div>
</div>

{% endblock %}